@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
--base-white: #ebdfd0;
--sunny: #f8c296;

--sunset: #f18c8c;
--mauve: #C06C84;
--dusk: #6C5B7B;
--smoke: #355C7D;
--bg-blue: #1C274C;

--base-padding: 5px;
--base-margin: 5px;
--base-radius: 15px;
}

* {
    font-family: "Righteous", Verdana, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

body {
    min-width: 328px;
     background: var(--bg-blue);
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.5rem;
}

grid-container {
    display: grid;
    grid-template-columns: .1fr 4fr;
    grid-template-rows: .1fr 5fr .5fr;
    grid-template-areas: 
    "header     header"
    /* "navbar   navbar" */
    "sidebar    main-content"
    "footer     footer";
    gap: 20px
}

/* HEADER */

header {
 position: static;
    background: var(--sunny);
    padding: calc(var(--base-padding) * 2);
    display: flex;
    flex-direction: column;
/* grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)); */
    align-items: start;
justify-content: center;
    gap: 10px;

    grid-area: header;
}

logo-text-container {
    display: flex;
    align-items: center;
    justify-self: start;
}

search-bar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: start;
}

form {
    display: flex;
    gap: 10px;
}

header img {
    height: 80px;
}

header logo-text-container h1 {
    color: var(--bg-blue);
    padding: var(--base-padding)
}

header input {
    width: 18.5ch;
    background: var(--base-white);
    border: 5px double var(--bg-blue) ;
    border-radius: 12px;
    color: var(--bg-blue);
    outline: none;
    text-indent: 3px;
}

header input:focus{
    background: var(--mauve);
    border: 5px double var(--bg-blue);
    color: var(--bg-blue);
}

::placeholder {
  color: var(--bg-blue);
  /* opacity: 1; Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--bg-blue);
}




/* SIDEBAR */

sidebar {
    background: var(--smoke);
    border-top-right-radius: var(--base-radius);
    border-bottom-right-radius: var(--base-radius);
    grid-area: sidebar;
    padding: calc(var(--base-padding) * 2);
    display: grid;
}


/* NAVBAR */

navbar {
    background: var(--sunset);
    border-top-left-radius: var(--base-radius);
    border-bottom-left-radius: var(--base-radius);
    grid-area: navbar;
    padding: calc(var(--base-padding) * 2);
    display: flex;
    gap: 5px;
}

navbar-tile {
    width: min-content;
    background: var(--mauve);
    border: 5px solid var(--mauve);
    border-radius: var(--base-radius);
    color: var(--bg-blue);
    /* display: grid; */
    margin: calc(var(--base-margin) * 2);
    padding: calc(var(--base-padding) * 2);

}

navbar-tile h6 {
    font-size: 1rem;
            padding: calc(var(--base-padding) * 1);
}

navbar-tile hr {
   border-color: var(--bg-blue);
}

profile {
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: calc(var(--base-padding) * 1); */
}

profile img {
    height: 4rem;
    padding-right: var(--base-padding);
}

/* MAIN-CONTENT */

main-content {
    background: var(--dusk);
    /* border-bottom: 10px solid var(--base-white);
    border-left: 10px solid var(--base-white);
    border-top: 10px solid var(--base-white); */
    border-top-left-radius: var(--base-radius);
    border-bottom-left-radius: var(--base-radius);
    grid-area: main-content;
    padding: calc(var(--base-padding) * 2);

    display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main-content h2 {
    color: var(--sunny);
}

project-card {
    /* height: fit-content; */
    /* width: fit-content; */
    background: var(--sunny);
    border-radius: var(--base-radius);
    display: grid;
    margin: calc(var(--base-margin) * 2);
    padding: calc(var(--base-padding) * 2);
}

project-card a {
    font-size: 1rem;
    text-decoration: none;
}

project-card h3 a {
    font-size: 1.2rem;
}


project-card a:link, project-card a:visited {
    color: var(--bg-blue);

}

project-card a:hover {
    color: var(--smoke);
        text-decoration: underline;
}

/* card a:active {
    color: var(--sunset);
} */

project-card p {
    color: var(--bg-blue);
    font-size: 1rem;

}

project-card em {
    font-size: 1rem;
}
project-card img {
    height:30px;    
}

card-images {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.special-card {
        background: var(--dusk);
        border: 11px dashed var(--sunny);
}

/* FOOTER */

footer {
    height: 1rem;
    background: var(--sunny);
    color: var(--bg-blue);
    grid-area: footer;
    padding: calc(var(--base-padding));
    display: flex;
        align-items: center;
        justify-content: center;
}

footer p {
    font-size: 1rem;
}


/* BUTTONS */
button {
    width: 18rem;
    background: var(--smoke);
    border: 5px solid var(--smoke);
    color: var(--sunny);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: calc(var(--base-padding) * 2);
}

button:hover {
    background: var(--bg-blue);
    border: 5px solid var(--bg-blue);
    border-radius: var(--base-radius);
}

button img{
    height: 50px;
    padding-right: 10px;
}

button:active {
    background: var(--mauve);
    border: 5px solid var(--sunny);
    /* color: var(--bg-blue); */
}

header button {
    width:fit-content;
    background: var(--bg-blue);
    border: 5px solid var(--bg-blue) ;
    border-radius: 12px;
    color: var(-sunny);
    outline: none;
    padding: 5px;
    /* text-align: center; */
}

header button:hover {
    border: 5px double var(--sunny) ;
    border-radius: 12px;
    color: var(-sunny);
    outline: none;
    padding: 5px;
    text-align: center;
}

header button:active {
    /* background: var(--mauve); */
    /* border: 5px solid var(--bg-blue); */
    /* color: var(--bg-blue); */
    /* transform: scale(.95); */
}

main-content button {
    width: auto;
    background: var(--dusk);
        border: 5px solid var(--dusk);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {

.toggle-text {
    display: none;
  }

sidebar button {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: var(--base-padding);
}

sidebar img {
    height: 2.5rem;
    padding: 0;
}

}


@media only screen and (max-width: 600px) {

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

header {
    align-items: center;
    justify-content: center;
    padding: 0;

}

header img {
    height: 60px;
}

header input {
    width: 14ch;

}

sidebar img {
    height: 1.5rem;
    /* padding-bottom: calc(var(--base-padding) * 2); */
}

sidebar button {
    margin-bottom: calc(var(--base-margin) * 2.5);
}

profile-container img {
    height: 3rem;

}

button {
    font-size: 1.1rem;
}

}



