@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* ************************************* */

/* TABLE OF CONTENTS                     */

/* GLOBAL ELEMENTS                       */
/* GLOBAL BUTTONS                        */
/* HEADER                                */
/* SIDEBAR                               */
/* MAIN-CONTENT                          */
/* FOOTER                                */
/* MEDIA QUERIES                         */

/* ************************************* */


/* GLOBAL ELEMENTS                       */

:root {
--base-white: #ebdfd0;
--sunny: #f5c59e;
--sunset: #f18c8c;
--mauve: #C06C84;
/* --dusk: #6C5B7B; KEEP FOR REFERENCE */
--dusk: #6d4b8b;
--smoke: #355C7D;
--smoke2: #274f72;
--bg-blue: #1C274C;
--bg-blue2:#454e6C;
--base-black: #10121a;

--link:#07077f;
--visited: var(--dusk);

--base-border: 7px;
--base-opacity: .92;
--base-radius: 17px;
}

* {
    font-family: "Righteous", Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, var(--bg-blue), var(--bg-blue2));
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.35rem;
}

a, p, em {
    font-size: 1.25rem;
}

a:link {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}

a:hover {
    color: var(--smoke);
}

hr {
    max-height: 0;
    border-color: var(--bg-blue);
    margin: .5rem 0 .5rem 0;
}

grid-container {
    display: grid;
        grid-template-columns: .1fr 4fr;
        grid-template-rows: .1fr 2fr 1fr;
        grid-template-areas: 
        "header     header"
        "sidebar    main-content"
        "footer     footer";
        gap: 1.5rem;
}

mobile-sidebar {
    display: none;
}


/* GLOBAL BUTTONS                        */

button {
    width: 18rem;
    background: var(--smoke);
    border: none;
    color: var(--sunny);
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: start;
    padding: .75rem;
}

button:hover {
    background-image: linear-gradient(to right, var(--bg-blue), var(--bg-blue2));
    border-radius: var(--base-radius);
    border-bottom: .25rem solid var(--bg-blue);
}

button img{
    height: 3.5rem;
    padding-right: 1rem;
}

button:active {
    background: var(--mauve);
}


/* HEADER                                */

header {
    grid-area: header; 
    background: none;
    display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: .6rem;   
    /* margin: -10px 0 0 -10px; */
    padding: 1.5rem 0 0 1.5rem;
}

logo-text-container {
    display: flex;
        align-items: center;
        justify-self: start;
}

logo-text-container img {
    height: 4.75rem;
    padding-right: .6rem;
}

logo-text-container h1 {
    color: var(--sunny);
}

search-bar-container {
    display: flex;
        flex-wrap: wrap;
        align-items: center;
    margin-left: -3px;
}

form {
    display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
}

search-bar-container input {
    width: 24.75ch;
    background: var(--base-white);
    border: var(--base-border) double var(--bg-blue) ;
    border-radius: var(--base-radius);
    color: var(--bg-blue);
    font-size: 1.2rem;
    outline: none;
    padding: .2rem;
    text-indent: 3px;
}

search-bar-container input:focus{
    background: var(--smoke);
    border: var(--base-border) double var(--bg-blue);
    color: var(--sunny);
}

::placeholder { /* Firefox */
  color: var(--bg-blue);
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--bg-blue);
}

search-bar-container input, search-bar-container button {
    font-size: 1.2rem;
}

search-bar-container button {
    height: 2.5rem;
    width:fit-content;
    background: var(--base-white);
    border: none;
    border-radius: var(--base-radius);
    color: var(--bg-blue);
    outline: none;
}

search-bar-container button:hover {
    background: var(--smoke);
    border: none;
    border-radius: var(--base-radius);
    color: var(--sunny);
    outline: none;
    text-align: center;
}

search-bar-container button:active {
    background: var(--mauve);
    border: none;
    border-radius: var(--base-radius);
    color: var(--sunny);
    outline: none;
    text-align: center;
}

.hamburger-btn {
    display: none;
}


/* SIDEBAR                               */

sidebar {
    grid-area: sidebar;
    background: var(--smoke);
    border-radius: var(--base-radius);
    margin-left: 1.5rem;
    opacity: var(--base-opacity);
    padding: 1rem;
}


/* MAIN-CONTENT                          */

main-content {
    grid-area: main-content;  
    background: var(--dusk);
    border-radius: var(--base-radius);
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-right: 1.5rem;
    opacity: var(--base-opacity);
    padding: 1rem;
}

card {
    border-radius: var(--base-radius);
    display: grid;
    margin: .5rem;
    padding: 1rem;
}

.non-project {
    background: var(--sunset);
    border: var(--base-border) dashed var(--dusk);
    color: var(--bg-blue);
    display: grid;
}

.non-project h2 {
    padding-bottom: .5rem;
}

.non-project a, .non-project p {
    font-size: 1.15rem;
}

align-items-div {
    display: flex;
        align-items: center;
}

align-items-div img {
    height: 1rem;
    padding-right: .25rem;    
}

.my-profile {
    background: var(--dusk);
    border: none;
    border-radius: var(--base-radius);
    color: var(--sunny);    
    display: flex;
        flex-direction: column;
}

.my-profile h2 {
    padding-bottom: 0;
}

.my-profile hr { 
    border-color: var(--sunny);   
}

.my-profile img {
    height: 5rem;
}

.my-profile #cutesy-face {
    height: 2rem;
}

profile {
    height:auto;
    display: flex;
        align-items: center;
        justify-content: start;
}

profile img {
    height: 3.25rem;
    padding-right: .5rem;
}

.project {
    background: var(--sunny);
    border: var(--base-border) double var(--bg-blue);
    border-radius: var(--base-radius);
    color: var(--bg-blue);
    display: grid;
}

.project img {
    height: 2rem;    
}

.project button img {
    height: 3.5rem;    
}

.button-card {
    background: var(--dusk);
    border: var(--base-border) dashed var(--bg-blue);
}

.button-card h2, .button-card p {
    color: var(--sunny);
}

project-card-content {
    display: flex;
        flex-direction: column; 
}

project-card-links {
    display: flex;
        justify-content: end;
        align-items: end;
        gap: .5rem;
    padding-top: 1rem;
}

main-content button {
    width: auto;
    background: var(--dusk);
}


/* FOOTER                                */

footer {
    grid-area: footer;    
    height: 1rem;
    color: var(--sunny);
    display: flex;
        align-items: center;
        justify-content: center;
    padding: 1rem;
}

footer p {
    font-size: 1.25rem;
}


/* MEDIA QUERIES                         */

@media only screen and (max-width: 850px) {

    .toggle-text {
        display: none;
    }

    header {
        display: flex;
            align-items: center;
            justify-content: center;
    }

    sidebar button {
        width: fit-content;
        display: flex;
            justify-content: center;
    }

    sidebar button img {
        height: 3rem;
        padding: 0;
    }

    .my-profile img {
        height: 4.5rem;
    }

}

@media only screen and (max-width: 525px) {

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    a, p, em {
        font-size: 1.1rem;
    }

    body {
        background: var(--base-black);
    }

    grid-container {
        display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: .1fr 2fr 1fr;
            grid-template-areas: 
            "header"
            "main-content"
            "footer";
             place-content: center;
    }

    header {
        position: fixed;
        left: -17px;
        width: 100vw;
        background-image: linear-gradient(to right, var(--bg-blue), var(--bg-blue2));
        border-bottom: 1.5rem solid var(--base-black);
        display: flex;
            justify-content: space-evenly;
        padding: .75rem;
    }

    logo-text-container img {
        height: 3.5rem;
    }

    form {
        justify-content: space-evenly;
    }

    .hamburger-btn {
        height: 2.25rem;
        width: 2.25rem;
        background: var(--base-white);
        border: none;
        border-radius: var(--base-radius);
        display: flex;
            align-items: center;
            justify-content: center;
        margin-right: auto;       
        outline: none;
    }

    .hamburger-btn img {
        height: 2.25rem;
        margin: 0;
        padding: 0;
    }

   .hamburger-btn:hover {
        background: var(--sunny);
    }

   .hamburger-btn:active {
        background: var(--mauve);
    }

    search-bar-container input {
        width: 18ch;
        font-size: .95rem;
    }

    search-bar-container button {
        height: 2.2rem;
        display: flex;
        justify-content: center;
        font-size: .95rem;
        margin-left: auto;
    }

    sidebar {
        display: none;
    }

    .my-profile img {
        height: 4rem;
    }

    main-content {
        border-radius: 0;
        margin-right: 0;
        opacity: 1;
    }

    footer p {
        font-size: .8rem;
    }

    .hidden-mobile-sidebar {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: var(--smoke);
        display: none;
        gap: 2px;
    }

    .hidden-mobile-sidebar button {
        height: 3.75rem;
        width: auto;
        background: var(--smoke2);
        border-radius: var(--base-radius);
        display: flex;
            align-items: center;
            justify-content: start;
        margin: .5rem;
        padding: .5rem .75rem .5rem .75rem;
    }

    .hidden-mobile-sidebar button:hover {
        background-image: linear-gradient(to right, var(--bg-blue), var(--bg-blue2));
        border-bottom: .25rem solid var(--bg-blue);
    }

    .hidden-mobile-sidebar button:active {
        background: var(--mauve);
    } 

    .hidden-mobile-sidebar button img {
        height: 2.5rem;
        padding-left: .5rem;
    }

    .toggle-text {
        display: grid;
        font-size: 1.25rem;
        padding-left:1rem;
    }
}


@media only screen and (max-width: 440px) {

    h1 {
        font-size: 1.65rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    a, p, em {
        font-size: 1.1rem;
    }

    logo-text-container img {
        height: 2.75rem;
    }

    .hamburger-btn {
        height: 2rem;
        width: 2rem;
    }

    .hamburger-btn img {
        height: 2rem;
    }

    search-bar-container input {
        width: 12ch;
        font-size: .9rem;
    }

    search-bar-container button {
        height: 2rem;
        font-size: .9rem;
    }

    .my-profile img {
        height: 4rem;
    }

}


